---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog" description="Citelines blog">
  <h1>Blog</h1>
  <p style="margin-top: 1rem; color: #555;">Placeholder blog page. Content coming soon.</p>
</Layout>
