---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Documentation" description="Citelines documentation">
  <h1>Documentation</h1>
  <p style="margin-top: 1rem; color: #555;">Placeholder documentation page. Content coming soon.</p>
</Layout>
