---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Get Involved" description="Get involved with Citelines">
  <h1>Get Involved</h1>
  <p style="margin-top: 1rem; color: #555;">Placeholder get involved page. Content coming soon.</p>
</Layout>
